.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

.victory-text {
  flex: 1;
  font-size: 3vw;
  color: green;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.victory-space {
  flex: 1;
  margin-top: 5rem;
}

.table {
  display: flex;
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  border: solid 2px;
}

.card-row {
  flex: 1;
}

.card {
  flex: 1;
  font-size: 2vw;
  display: flex;
  padding: 1.5rem;
  border: solid 0.5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 5rem;
}

.card.card-bingo {
  background-color: #86c1a5;
}

.strike-out {
  text-decoration: line-through;
  background-color: #c4deda;
}

.bingo-card {
  flex: 1;
  font-size: 2vw;
  display: flex;
  padding: 1.5rem;
  border: solid 0.5px;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  height: 5rem;
}

.bingo-card,
.bingo-card-body {
  display: flex;
  flex: 1;
}
